.foro{
    background: rgb(2,0,36);
    background: linear-gradient(360deg, rgba(2,0,36,1) 0%, rgba(0,0,23,1) 17%, rgba(14,21,97,1) 100%);
}

.post{
    display: grid;
    grid-template-columns: 10vw 1fr 10vw;
    background-color: #152480;
    color: white;
    margin: 10px;
}

.userPhoto{
    padding: 10px;
}
