.LoginPage {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
}

.left {
    left: 0;
    background-color: rgb(18, 31, 76);
}

.right {
    right: 0;
    background-color: white;
}

.iframe_logon_icon{
    display: flex; 
    justify-content: center; 
    align-items: center;
    pointer-events: none;
    position: absolute;
    left: 23%;
    transform: translate(2, 2);
    width: 100%;
    height: 100%;
}

.prompt {
    background-color: white;
    position: absolute;
    right: -50%;
    width: 50%;
    height: 100%;
} 

.login_input{
    width: 100%;
    padding: 12px 20px;
    margin: 10px 52px 0px -170px;
    display: inline-block;
    box-sizing: border-box;
}

loginButton{
    display: inline-flex;
    position: absolute;
    justify-content: center;
    margin: 50px 100px 100px -166px;
    padding: 25px 40px;
    border-radius: 15px;
    font-size: 1.4vw;
    color: white;
    border: none;
    background-color: #051d40;
    font-weight:500;
    right: 45.5%;
    left: 20%;
    cursor: pointer;
}

loginButton:hover{
    background-color: #0a326f;
}

registerButton{
    display: inline-flex;
    position: absolute;
    justify-content: center;
    margin: 150px -100px 100px -166px;
    padding: 25px 40px;
    border-radius: 15px;
    font-size: 1.4vw;
    color: white;
    border: none;
    background-color: #6e98aa;
    font-weight:500;
    left: 20%;
    cursor: pointer;
}

registerButton:hover{
    background-color: #7eb7d0;
}