.register-bg {
    padding-top: 1.5%;
    padding-bottom: 4.5%;
    background: rgb(17,31,76);
    background: linear-gradient(360deg, rgba(2,0,36,1) 0%, rgba(0,0,23,1) 17%, rgba(14,21,97,1) 100%);
}

.glitch-img {
    background-image: url("https://i.ibb.co/vB9mL3V/glitch.png");
    background-size: 50vh;
    background-position: center; 
}