.App {
  background: #050a303e;
  background-color: #050a30;
}

.StartPage {
  background: rgb(2,0,36);
  background: linear-gradient(360deg, rgba(2,0,36,1) 0%, rgba(0,0,23,1) 17%, rgba(14,21,97,1) 100%);
  height: 100vh;
}

iframe{
  width: 100%;
  height: 60vh;
  position: center;
  top: 0;
  left: 0;
  right: 0;
  border: none;
}

button{
  margin-top: 70px;
  margin-bottom: auto;
  display: inline-flex;
  position: absolute;
  justify-content: center;
  padding: 30px;
  font-size: 5.5vw;
  color: white;
  background-color: #161f5d;
  font-weight:700;
  right: 40%;
  left: 40%;
  cursor:pointer;
}

button:hover{
  background-color: #152480;
}

.glowing-to-the-right-top {
  position: relative;
  width: auto;
  height: 10px;
  background: #fff;
  margin-top: 0;
}

.glowing-to-the-right-top::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(270deg, #fff, rgb(128, 128, 128));
  animation: animate 3s linear infinite;
  background-size: 500%;
}

.glowing-to-the-right-top::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(270deg, #fff, rgb(128, 128, 128));
  animation: glow-to-right 6s linear infinite;
  background-size: 500%;
}

@keyframes glow-to-right {
  0%{
    background-position: 0 0;
  }0%{
    background-position: 500% 0;
  }
}

.glowing-to-the-right-bot {
  position: relative;
  top: 35vh;
  width: auto;
  height: 10px;
  background: #fff;
  margin-top: 0;
}

.glowing-to-the-right-bot::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, #fff, rgb(128, 128, 128));
  animation: glow-to-right 6s linear infinite;
  background-size: 500%;
}

.glowing-to-the-right-bot::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, #fff, rgb(128, 128, 128));
  animation: glow-to-right 6s linear infinite;
  background-size: 500%;
}