.App {
  background: #050a303e;
  background-color: #050a30;
}

button:hover{
  background-color: rgba(255, 255, 255, 0.311);
}

.carousel-item{
  height: 100vh;
  min-height: 200px;
}

.carousel-caption{
  top: 50%;
  position: absolute;
  z-index: 2;
}

.section-padding {
  padding: 100px 0;
}

.carousel-caption h1{
  margin-top: 25px;
  text-shadow: rgba(0, 0, 0, 0.345) 2px 2px;

}

.carousel-caption p{
  margin: auto;
  font-size: 25px;
  text-shadow: #050a303e 4px 2px;
}